body {background-color: #e1b382;}
#all{
  background-image: linear-gradient(to bottom right, #f0fcfc, white);
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 10px 10px 5px #c89666;
}
#container {

  border: none;
  margin-top: 20%;
  margin-bottom: 10%;
  margin-right: 5%;
  margin-left: 5%;
  background-image: linear-gradient(to bottom right, #f0fcfc, white);
  text-align: justify;
  text-justify: inter-word;
}
